@defer (hydrate never) {
<h5 class="mb-4">{{ 'ourInstall' | translate }}</h5>

<blockquote class="installation__container">

    <div class="installation__gallery">

        <p-carousel 
        [value]="installation" 
        [numVisible]="1" 
        [numScroll]="1"
        [showNavigators]="false"
        [circular]="true" 
        autoplayInterval="3000"
        indicatorsContentClass="installation__indicators"
        >
        <ng-template let-installation #item>
            <div class="installation__item">
                <img class="installation__image" [src]="installation.src" alt="CashConcept Installation" />
            </div>
        </ng-template>
        </p-carousel>

        <button class="btn btn-primary facebook" (click)="goToFB()">
            <i class="pi pi-facebook"></i>
            {{ 'discoverFacebook' | translate }}
        </button>
    </div>
</blockquote>
}