@import '../../../palette.scss';

.header {
    display: flex;
    justify-content: center;
    height: 200px; width: 100%;
    transition: height 0.3s ease;

    &.scrolled {
        height: 100px;
    }
}

.navbar-logo {
    height: 100px;
    transition: all 0.3s ease;

    &.scrolled {
        height: 50px;
    }

    @media (min-width: 960px) {
        height: 150px;
    }
}

.navbar {
    position: fixed;
    top: 0; left: 0;
    background-color: #fff;
    width: 100%;
    transition: all 0.3s ease;

    &.scrolled {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

.navbar-nav {
    position: relative;
    padding: 0 20px;
    overflow-y: scroll;
    max-height: 500px;

    @media (min-width: 960px) {
        overflow-y: visible;
        max-height: none;
    }
}

@media (min-width: 960px) {
    .nav-item {
        min-height: 40px;
    }
}

.nav-item.dropdown {
    position: inherit;
}

.nav-link {
    position: relative;
    background-image: $gradient-left;
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 20px;

    @media (min-width: 960px) {
        font-size: 18px;
    }
}

@media (min-width: 960px) {
    .underlineOnHover {
        &:before {
            content: '';
            background: $reseda-green;
            display: block;
            position: absolute;
            bottom: -10px; left: 0;
            width: 0; height: 3px;
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            &:before {
                width: 100%;
            }
        }
    }
}

.dropdow__item__with__opening__icon {
    display: flex;
    align-items: center;
}

::ng-deep {
    .opening__submenu {
        button {
            background-color: transparent !important;
            border: 0;
            color: $fern-green;

            @media (min-width: 960px) {
                display: none;
            }

            &:hover{
                border: 0 !important;
                color: $fern-green !important;
            }
        }
    }
}

/* Ensure styles only apply to .dropdown-menu within your navbar */
.navbar .dropdown-menu {
    display: flex;
    visibility: visible;
    opacity: 1;
    border: 0;
    background-color: #fff !important;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 960px) {
        visibility: hidden;
        opacity: 0;
        flex-direction: row;
        transition: all 0.5s ease-in-out; /* Smooth transition */
        width: 500px;
        border: 3px solid $pakistan-green;
        top: 50px; left: 0;
        background: #fff !important;
        justify-content: space-between;
        padding: 10px;
        flex-wrap: wrap;
        align-items: center;

        &.column-hover {
            flex-direction: column !important;
            width: auto !important;

            .menu__item {
                padding: 10px 0;
            }
        }
    }
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.dropdown-item{
    background-color: #fff !important;
}

.menu__item {
    width: 250px;
    text-align: center;
    padding: 10px;

    @media (min-width: 960px) {
        width: 220px;
    }
}

.menu-toggle-icon {
    font-size: 1.5rem;
    color: #333; /* Adjust as needed */
}

.menu__content {
    display: flex;
    align-items: center;
    gap: 10px; /* Spacing between image and name */
  }
  
.product__name {
    font-weight: bold;
    color: #333; /* Adjust as needed */
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    @media (min-width: 960px) {
        width: 110px;
    }
}

.hamburger { 
    width: 50px; height: 50px;

    @media (min-width: 960px) {
       display: none;
    }
}

// Hamburger 

input#menu {
    display: none;
}

.icon {
    background: #FFF;
    cursor: pointer;
    display: block;
    height: 50px;
    width: 50px;
}

label.icon {
    position: relative;
    z-index: 200;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
    background: #9FB1BD;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
    background: $pakistan-green;
}

.icon .menu {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon .menu::before {
    top: -6px;
}

.icon .menu::after {
    top: 6px;
}

#menu:checked + .icon .menu {
    background: transparent;
}

#menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}

::ng-deep {
    p-select,
    .p-select-list {
        background-color: #fff !important;
    }
}

// ----- Language selector ----

    .language {

        &-selector {
            position: relative;
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 20px;
        
            @media (min-width: 960px) {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 10px;
                display: flex;
            }
        }

        &-button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
        }

        &-dropdown {
            position: absolute;
            top: -10px; left: 40px;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 5px;
            background: white;
            border: 1px solid #ccc;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: all .3s ease-in-out;
            opacity: 0;
        
            &.display {
                opacity: 1;
            }
        
            @media (min-width: 960px) {
                flex-direction: column;
                top: 40px; left: -10px; 
            }

            li {
                padding: 5px;
                cursor: pointer;
            }
        }
    }

    .flag-icon {
        width: 24px; /* Adjust size as needed */
        height: auto;
        display: block;
    }