@import '../../../palette.scss';

.contact {

    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        @media (min-width: 960px) { 
            justify-content: flex-start;
            padding-left: 30px;
        }
    }

    &__item {
        border-radius: 5px;

        @media (min-width: 960px) { 
            padding: 0;
        }
    }

    &__name {
        display: inline-block;
        font-size: 40px;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 45px; height: 3px;
            background-color: $reseda-green;
            position: absolute;
            left: 0; bottom: 0;
        }
    }

    &__role {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;

        &.nextto{
            display: inline;
            margin-left: 20px;
            margin-top: 0;
            margin-bottom: 0;
        }

        @media (min-width: 768px) { 
            font-size: 25px;
            display: inline;
            margin-left: 20px;
            margin-top: 0;
            margin-bottom: 0;
        }

        @media (min-width: 960px) { 
            font-size: 14px;
        }
    }

    &__phone {
        display: block;
        margin: 10px 0;
        color: $reseda-green;
        font-size: 20px;

        span {
            display: inline-block;
            margin-left: 10px;
            color: #000;
        }
    }

    &__mail {
        display: block;
        margin: 10px 0;
        color: $reseda-green;
        font-size: 20px;

        span {
            display: inline-block;
            margin-left: 10px;
            color: #000;
        }
    }   


    &__fields {
        display: flex;
        justify-content: space-between;        
        flex-wrap: wrap;
    }

    &__field {
        width: calc(50% - 50px);
        margin-bottom: 50px;

        &:last-of-type {
            margin-bottom: 0;
        }
        
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }

        input, textarea {
            width: 100%;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            background-color: transparent;
        }
    }

}

.bracket {

    color: $reseda-green;

    &.left {
        margin-right: 10px;
    }

    &.right {
        margin-left: 10px;
    }
}

.form__confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
        font-size: 130px;
        color: #4caf50;
        margin-bottom: 35px;
    }

    &__message {
        font-size: 18px;
    }
}