@import '../../../palette.scss';

/*** Hero Header ***/
.hero-header {
    position: relative;
    height: 390px; width: 100%;
    background-image: url('assets/subheader/CashConcept - Monnayeurs automatiques_mobile.webp') !important;
    background-position: center 100% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    &.contact {
        background-image: url('assets/subheader/CashConcept - Contact.webp') !important;
    }

    &.CashBox_7 {
        background-image: url('assets/subheader/CashConcept - CashBox_7.webp') !important;
    }

    &.CashBox_5 {
        background-image: url('assets/subheader/CashConcept - CashBox_5.webp') !important;
    }

    &.CashBox_3 {
        background-image: url('assets/subheader/CashConcept - CashBox_3.webp') !important;
    }
   
    &.CashBox_S {
        background-image: url('assets/subheader/CashConcept - CashBox_S.webp') !important;
        background-position: center 60% !important
    }

    @media (min-width: 768px) {
        height: 100vh;
        background-image: url('assets/subheader/CashConcept - Monnayeurs automatiques.webp') !important;
        background-size: cover !important;
    }

    @media (min-width: 960px) {
        margin-top: 10px;
    }
}

.hero-header .container {
    position: relative;
    z-index: 1;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: $onyx;
}

.breadcrumb__item {
    color: $onyx;
}

.display {

    position: absolute !important;
    bottom: -170px;

    @media (min-width: 960px) {
        position: relative !important;
        margin-top: 110px;
        bottom: 0;
    }

    background-color: #fff;
    color: $reseda-green;
    padding: 20px;
    
    &:after {
        content: '';
        position: absolute;
        bottom: 0; right: 0;
        display: block;
        width: 20px; height: 6px;
        background: $reseda-green;
    }
  
    &:before {
        content: '';
        position: absolute;
        bottom: 0; right: 0;
        display: block;
        width: 6px; height: 20px;
        background: $reseda-green;
    }

    .square {
        position: absolute;
        top: 0; left: 0;

        &:after {
            content: '';
            position: absolute;
            top: 0; left: 0;
            display: block;
            width: 20px; height: 6px;
            background: $reseda-green;
        }
      
        &:before {
            content: '';
            position: absolute;
            left: 0; top: 0;
            display: block;
            width: 6px; height: 20px;
            background: $reseda-green;
        }
    }
}