<!-- Feature Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="feature-item position-relative  text-center p-3">
                    <div class="border py-5 px-3">
                        <fa-icon [icon]="faShieldHalved" class="fa-3x text-dark mb-4"></fa-icon>
                        <h5 class="text-white mb-0">{{ 'featureSecurity' | translate }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="feature-item position-relative  text-center p-3">
                    <div class="border py-5 px-3">
                        <fa-icon [icon]="faShippingFast" class="fa-3x text-dark mb-4"></fa-icon>
                        <h5 class="text-white mb-0">{{ 'featureQuick' | translate }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature-item position-relative  text-center p-3">
                    <div class="border py-5 px-3">
                        <fa-icon [icon]="faCheck" class="fa-3x text-dark mb-4"></fa-icon>
                        <h5 class="text-white mb-0">{{ 'featureControl' | translate }}</h5>                    
                    </div>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature-item position-relative  text-center p-3">
                    <div class="border py-5 px-3">
                        <fa-icon [icon]="faChartBar" class="fa-3x text-dark mb-4"></fa-icon>
                        <h5 class="text-white mb-0">{{ 'featureAnalysis' | translate }}</h5>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
