<!-- SAV Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="category__image__container">
                    <img 
                        class="category__image img-fluid animated" 
                        src="assets/sav.png" />
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="text-primary mb-4">{{ 'savTitle' | translate }} <span class="fw-light text-dark">{{ 'savTitle2' | translate }}</span></h1>
                <p class="mb-4">{{ 'sav' | translate }}</p>
                <p class="mb-4">{{ 'sav2' | translate }}</p>
                <p class="mb-4">{{ 'sav3' | translate }}</p>
                <p class="mb-4">{{ 'sav4' | translate }}</p>
                <a [href]="['/contact']" class="btn btn-primary py-2 px-4 diagonal-close-button">
                    <span>{{ 'contactUs' | translate }}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- SAV end -->