<!-- Activities Start -->
<div class="container-fluid py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <h1 class="text-primary mb-4">
              {{ 'activityTitle' | translate }}
              <span class="fw-light text-dark">{{ 'activityTitle2' | translate }}</span>
            </h1>
            <ul class="activity__list">
              <li class="activity__item">
                <img class="activity__icon" src="assets/activities/market.svg" loading="lazy" alt="Commerce de proximité" />
                <span>{{ 'activityMarket' | translate }}</span>
              </li>
              <li class="activity__item">
                <img class="activity__icon" src="assets/activities/horeca.svg" loading="lazy" alt="Horeca" />
                <span>{{ 'activityHoreca' | translate }}</span>
              </li>
              <li class="activity__item">
                <img class="activity__icon" src="assets/activities/esthetical.svg" loading="lazy" alt="Esthetical" />
                <span>{{ 'activityEsthetical' | translate }}</span>
              </li>
            </ul>
            <a [href]="['/contact']" class="btn btn-primary py-2 px-4 diagonal-close-button mt-4">
              <span>{{ 'contactUs' | translate }}</span>
          </a>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="image-container blob__container">
              <div class="column column-single">
                <img src="assets/activities/1.jpg" loading="lazy" alt="Barber shop" class="image img1">
              </div>
              <div class="column column-double">
                <img src="assets/activities/2.jpg" loading="lazy" alt="Horeca" class="image img2">
                <img src="assets/activities/3.jpg" loading="lazy" alt="Shopping" class="image img3">
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<!-- Activities end -->