/* Coolors Exported Palette - https://coolors.co/48753b-7b9075-3b3c3b-143f07-606060 */

/* CSS HEX */
$fern-green: #48753Bff;
$reseda-green: rgb(108, 161, 96);
$onyx: #3B3C3Bff;
$pakistan-green: #143F07ff;
$dim-gray: #606060ff;

// /* CSS HSL */
// $fern-green: hsla(107, 33%, 35%, 1);
// $reseda-green: hsla(107, 11%, 51%, 1);
// $onyx: hsla(120, 1%, 23%, 1);
// $pakistan-green: hsla(106, 80%, 14%, 1);
// $dim-gray: hsla(0, 0%, 38%, 1);

// /* SCSS HEX */
// $fern-green: #48753Bff;
// $reseda-green: #7B9075ff;
// $onyx: #3B3C3Bff;
// $pakistan-green: #143F07ff;
// $dim-gray: #606060ff;

// /* SCSS HSL */
// $fern-green: hsla(107, 33%, 35%, 1);
// $reseda-green: hsla(107, 11%, 51%, 1);
// $onyx: hsla(120, 1%, 23%, 1);
// $pakistan-green: hsla(106, 80%, 14%, 1);
// $dim-gray: hsla(0, 0%, 38%, 1);

// /* SCSS RGB */
// $fern-green: rgba(72, 117, 59, 1);
// $reseda-green: rgba(123, 144, 117, 1);
// $onyx: rgba(59, 60, 59, 1);
// $pakistan-green: rgba(20, 63, 7, 1);
// $dim-gray: rgba(96, 96, 96, 1);

/* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #48753Bff, #7B9075ff, #3B3C3Bff, #143F07ff, #606060ff);
// $gradient-right: linear-gradient(90deg, #48753Bff, #7B9075ff, #3B3C3Bff, #143F07ff, #606060ff);
// $gradient-bottom: linear-gradient(180deg, #48753Bff, #7B9075ff, #3B3C3Bff, #143F07ff, #606060ff);
$gradient-left: linear-gradient(270deg, #48753Bff, #7B9075ff, #3B3C3Bff, #143F07ff, #606060ff);
// $gradient-top-right: linear-gradient(45deg, #48753Bff, #7B9075ff, #3B3C3Bff, #143F07ff, #606060ff);
// $gradient-bottom-right: linear-gradient(135deg, #48753Bff, #7B9075ff, #3B3C3Bff, #143F07ff, #606060ff);
// $gradient-top-left: linear-gradient(225deg, #48753Bff, #7B9075ff, #3B3C3Bff, #143F07ff, #606060ff);
$gradient-bottom-left: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(108,161,96,1) 100%);
// $gradient-radial: radial-gradient(#48753Bff, #7B9075ff, #3B3C3Bff, #143F07ff, #606060ff);