/* Coolors Exported Palette - https://coolors.co/48753b-7b9075-3b3c3b-143f07-606060 */

/* CSS HEX */
$fern-green: #48753Bff;
$reseda-green: rgb(108, 161, 96);
$onyx: #3B3C3Bff;
$pakistan-green: #143F07ff;
$dim-gray: #606060ff;

$gradient-left: linear-gradient(270deg, #48753Bff, #7B9075ff, #3B3C3Bff, #143F07ff, #606060ff);
$gradient-bottom-left: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(108,161,96,1) 100%);