@use 'ngx-sharebuttons/themes/default';
@import './palette.scss';
@import './animation.scss';

/* You can add global styles to this file, and also import other style files */

$background-color: #fff;

html, body { 
    background-color: $background-color;
    width: 100%;
    margin: 0;
}

* {
    &::before, &::after { box-sizing: border-box; }
}

a {
    text-decoration: none !important;
}

h1 {
    font-weight: bold !important;
    font-size: 40px;
}

.required {
    margin-left: 5px;
    color: red;
}

.no-scroll {
    position: relative;
    overflow: hidden;
    height: 100%; /* Prevent scrolling on mobile */

    &:before {
        content: '';
        display: block;
        height: 100%; width: 100%;
        position: absolute;
        top: 0; left: 0;
        background-color: rgba($color: #000, $alpha: 0.5);
        z-index: 2;
    }
}

.bg-primary {
    background: #fff !important;
}

.text-primary {
    color: $reseda-green !important;
}

.btn-outline-primary {
    color: $fern-green;
    border-color: $reseda-green;
}

.btn-outline-primary:hover {
    border-color: $reseda-green;
}

p-checkbox,
p-checkbox input, 
.p-checkbox-box {
    background-color: #fff !important;
}

.p-checkbox-checked .p-checkbox-box svg path {
    fill: #fff !important;
}

p-scrolltop {
    svg path {
        fill: #fff;
    }
}

.p-checkbox-checked .p-checkbox-box {
    border-color: $fern-green !important;
    background: $fern-green !important;
}

.p-button {
    border-color: $fern-green !important;
    background: $fern-green !important;
}


.slider__indicators {

    z-index: 1;

    button {
        background-color: lightgray !important;
    }

    .p-carousel-indicator-active .p-carousel-indicator-button {
        background-color: $fern-green !important;
    }
}

.p-scrolltop.p-button{
    z-index: 2 !important;
}

.content {
    padding-top: 170px;

    @media (min-width: 960px) { 
        padding-top: 0;
    }
}

img.animated.pulse {
    animation: pulse 3s infinite;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;

    &.btn-primary {
        color: var(--bs-white);
        background-color: $fern-green;
        border: 2px solid $fern-green;
    
        @media (min-width: 960px) { 
            &:hover,
            &:focus {
                color: $fern-green;
                background-color: var(--bs-white);
                box-shadow: 0 1em 1em -0.4em rgba(0,0,0,0.4);
                transform: translateY(-0.25em);
            }
        }
    }
}